<mat-toolbar color="primary">
  <span>Local Cast Weather</span>
</mat-toolbar>
<div fxLayoutAlign="center" class="vertical-margin">
    <div class="mat-caption">Your city, your forecast, right now!</div>
</div>

<div fxLayoutAlign="center">
  <app-city-search></app-city-search>
</div>

<div fxLayout="row">
  <div fxFlex>

  </div>

  <mat-card fxFlex="20em">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-headline">Current Weather</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-current-weather></app-current-weather>
    </mat-card-content>
  </mat-card>

  <div fxFlex>

  </div>
</div>

