<form style="margin-bottom: 2em">
  <mat-form-field style="width: 15em;">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Enter city or zip" aria-label="City or Zip"
      [formControl]="search">
    <mat-hint>Specify Country Code like 'Cirebon, ID'</mat-hint>
    <mat-error *ngIf="search.invalid">
      Type more than one character to search
    </mat-error>
  </mat-form-field>
</form>
