/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.content-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.vertical-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}
