<div *ngIf="current" >
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{ current.city }}, {{ current.country }} </div>
    <div fxFlex class="right" class="right mat-subheading-2 no-margin">{{ current.date | date:'EEEE MMM, d' }} </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="66%" style="padding-left: 2em"><img style="transform: scale(1.75)"  [src]='current.image'></div>
    <div class="right mat-display-3 no-margin"> {{ current.temperature | number:"1.0-0" }}°C </div>
  </div>
  <div fxLayoutAlign="center" class="mat-caption"> {{ current.description }} </div>
</div>
